body{
    font-family: 'Playfair', serif;

}
*{
    margin: 0;
    padding: 0;
}

/* header-nav */
header{
    margin-bottom: 100px;
}
.header-nav{
    background-color: #B68834;
    background-size: cover;
    width: 100%;
    height: 700px;   
}

nav{
    background: transparent;  
    transition:  background-color .4s ease-in-out;
}
nav.scrolled{
    background-color: rgba(78, 58, 58, 0.7);
}
nav a{
    transition: color .4s ease-in-out;
}
nav.scrolled nav a{
    color: #fff;
}
.nav-details{
     /* height: 100px; */
     margin-top: 15px;
}
.nav-li{
    color: #fff;
    position: relative;
}
.nav-details a{
    color: #fff;
    text-decoration: none;   
}
.dropdown{
    margin-top: 10px;
}
.pages li a{
    color: black;
}
.deatail-list{
    list-style: none;  
}
.deatail{
    position: absolute;
    top: -40px;
    right: 0;
}
.det{
    position: absolute;
    top: -18px;
    right: 0;
}
/* home */
.home-2{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10% , 10%);
    color: #fff;
}
.home-2 h1{
    margin-top: 250px;
    text-align: center;
    margin-bottom: 20px;
}
.home-2 p{
    text-align: center;
    letter-spacing: 2px;
    padding: 0 180px;
}
/* vedio */
.video{
    height: 450px;
    margin-bottom: 50px;
    }
    .col-1{
        position: relative;  
        width: 500px;
        height: 350px;
        border-radius: 10px;
    }
    
    
    iframe{
       border-radius: 10px;
       width: 500px;
       height: 350px;  
    }
    .col-2{
      text-align: left;
      padding-left: 100px;
      width: 500px;
      position: relative;
      
    }
    .col-2 .p-1{
        color: burlywood;
    }
    .col-2 h2{
        font-size: 40px;
        font-weight: bold;
    }
    .col-2 h5{
        font-size: 17px;
    }
    .col-2 .p-2{
        color: rgb(151, 151, 151);
    }

    /* home-content */
    .home-content-1{
        margin-bottom: 100px;
    }
    .home-content-1 p {
        color: rgb(139, 139, 138);
    }
    .home-content-1 span{
       margin-left: 20px;
    }
    hr{
        margin-bottom: -3px;
    }


footer{
    background-image: url(./images/footer-bg.jpg);
    height: 500px;
}
.footer-content h4{
    color: #fff;
    padding-top: 200px;
}
.footer-content {
    width: 100%;
}
.footer-content p{
    color: #fff;
    /* font-size: 20px; */
    margin: 25px 0;
}
.footer-content p a{
    text-decoration: none;
    color: #B68834;
}
.footer-content  .p-1{
    margin: 20px 0;
}
.footer-content i.heart{
    color: chocolate;
}
.footer-content input{
    width: 80%;
    height: 38px;
    padding: 10px;
}
.footer-content .social i{
    color: #fff;
    margin: 10px 10px;
}